<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydcelad.intelligentizecarsystem.mapper.FiveCensorMapper">
    <resultMap id="fireproject" type="com.ydcelad.intelligentizecarsystem.entity.FireProject">
        <result property="id"    column="_id"    />
        <result property="plaza"    column="Plaza"    />
        <result property="creatdate"    column="creatdate"    />
        <result property="domain"    column="domain"    />
        <result property="describe1"    column="describe1"    />
        <result property="describe2"    column="describe2"    />
        <result property="describe3"    column="describe3"    />
        <result property="plazaname"    column="plazaname"    />
        <result property="zhaoshangst"    column="zhaoshangSt"    />
        <result property="zhaoshangsj"    column="zhaoshangSj"    />
        <result property="chutust"    column="chutuSt"    />
        <result property="chutusj"    column="chutuSj"    />
        <result property="xiaofangtust"    column="xiaofangtuSt"    />
        <result property="xiaofangtusj"    column="xiaofangtuSj"    />
        <result property="xiaofangzichast"    column="xiaofangzichaSt"    />
        <result property="xiaofangzichasj"    column="xiaofangzichaSj"    />
        <result property="xiaoyanst"    column="xiaoyanSt"    />
        <result property="xiaoyansj"    column="xiaoyanSj"    />
        <result property="kaiyejianst"    column="kaiyejianSt"    />
        <result property="kaiyejiansj"    column="kaiyejianSj"    />
    </resultMap>

    <resultMap id="projectDetail" type="com.ydcelad.intelligentizecarsystem.entity.ProjectDetail">
        <result property="plantime1" column="plantime1"/>
        <result property="plantime2" column="plantime2"/>
        <result property="plantime3" column="plantime3"/>
        <result property="bishenbiyan" column="bishenbiyan"/>
        <result property="yaoqiuyangpingpai" column="yaoqiuyangpingpai"/>
        <result property="others" column="others"/>
    </resultMap>


    <select id="getFireProjectHuizong" resultMap="fireproject" parameterType="integer">
        SELECT
            sum(zhaoshangSt) AS zhaoshangSt,
            sum(zhaoshangSj) AS zhaoshangSj,
            sum(chutuSt) AS chutuSt,
            sum(chutuSj) AS chutuSj,
            sum(xiaofangtuSt) AS xiaofangtuSt,
            sum(xiaofangtuSj) AS xiaofangtuSj,
            sum(xiaofangzichaSt) AS xiaofangzichaSt,
            sum(xiaofangzichaSj) AS xiaofangzichaSj,
            sum(xiaoyanSt) AS xiaoyanSt,
            sum(xiaoyanSj) AS xiaoyanSj,
            sum(kaiyejianSt) AS kaiyejianSt,
            sum(kaiyejianSj) AS kaiyejianSj
        FROM
            fire_project
        <where>
            <if test="projectId != null"> _id = #{projectId}</if>
        </where>
    </select>

    <select id="getProjectTime" parameterType="integer" resultMap="fireproject">
        SELECT * FROM fire_project where _id = #{projectId}
    </select>

    <select id="getThreeTime" parameterType="integer" resultMap="projectDetail">
        SELECT MIN(plantime1) AS plantime1,MIN(plantime2) AS plantime2,MIN(plantime3) AS plantime3
        FROM fire_merchant WHERE projectid = #{projectId}
    </select>
    <select id="getbishenbiyan" parameterType="integer" resultType="integer">
        SELECT count(*) FROM fire_merchant WHERE merchanttype = 1 AND projectid = #{projectId}
    </select>
    <select id="getyaoqiuyangpingpai" parameterType="integer" resultType="integer">
        SELECT count(*) FROM fire_merchant WHERE merchanttype = 2 AND projectid = #{projectId}
    </select>
    <select id="getothers" parameterType="integer" resultType="integer">
        SELECT count(*) FROM fire_merchant WHERE merchanttype = 3 AND projectid = #{projectId}
    </select>

</mapper>