<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydcelad.intelligentizecarsystem.mapper.noticeInfoMapper">
    <resultMap type="com.ydcelad.intelligentizecarsystem.entity.noticeInfo" id="NoticeinfoResult">
        <id property="noticeid"    column="noticeid"    />
        <result property="noticetitle"    column="noticetitle"    />
        <result property="noticetext"    column="noticetext"    />
        <result property="noticetype"    column="noticetype"    />
        <result property="noticeroleid"    column="noticeroleid"    />
        <result property="noticecreatetime"    column="noticecreatetime"    />
        <result property="noticeendtime"    column="noticeendtime"    />
        <result property="noticeisdelete"    column="noticeisdelete"    />
    </resultMap>

    <sql id="selectNoticeInfo">
        select noticeid, noticetitle, noticetext, noticetype, noticeroleid, noticecreatetime, noticeendtime, noticeisdelete from noticeinfo
    </sql>
    <select id="getList" resultType="com.ydcelad.intelligentizecarsystem.entity.noticeInfo">
        <include refid="selectNoticeInfo"/>
        <where>
            <if test="noticeid != null "> and noticeid = #{noticeid}</if>
            <if test="noticetitle != null  and noticetitle != ''"> and noticetitle = #{noticetitle}</if>
            <if test="noticetext != null  and noticetext != ''"> and noticetext = #{noticetext}</if>
            <if test="noticetype != null  and noticetype != ''"> and noticetype = #{noticetype}</if>
            <if test="noticeroleid != null  and noticeroleid != ''"> and noticeroleid = #{noticeroleid}</if>
            <if test="noticecreatetime != null  and noticecreatetime != ''"> and noticecreatetime = #{noticecreatetime}</if>
            <if test="noticeendtime != null  and noticeendtime != ''"> and noticeendtime = #{noticeendtime}</if>
            noticeisdelete = 0
        </where>
    </select>



</mapper>